.board {
  width: 450px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  .whiteTile, .blackTile {
    border: 1px solid black;
    width: 50px;
    max-height: 50px;
    &:not(.whiteTile) {
      background-color: black;
    }
  }
}

.isSelected {
  background-color: purple !important;
}

.possibleTiles {
  background-color: orange !important;
}